$darkPurp: #2E0EBF;
$brightPurp: #6E4EFF;

.pLink {
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 1px 3px;
    line-height: 1rem;
    color: #333;
    background: linear-gradient(to bottom, transparent 94%, $brightPurp 94%) no-repeat;
    background-size: 100% 100%;
    transition: background-size 0.2s ease,
                color .218s ease-in-out,
                font-weight .218s ease-in-out,
                letter-spacing .218s ease-in-out;
    &:hover {
        font-weight: 700;
        color: $brightPurp;
        background-size: 0% 100%;
    }
}