{
  "extends": [ "eslint:recommended", "plugin:react/recommended" ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn",
    "semi": [ 1, "always" ],
    "quotes": [ "warn", "single" ],
    "guard-for-in": "off",
    "require-await": "warn",
    "react/prop-types": "warn",
    "react/display-name": "off",
    "class-methods-use-this": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-extra-boolean-cast": "off",
    "max-len": [ "warn", {
      "code": 100,
      "ignoreRegExpLiterals": true
    }],
    "id-length": [ "warn", {
      "exceptions": [ "_", "i", "j", "x", "y" ]
    }]
  }
}
