{
  "extends": [ "eslint:recommended", "plugin:react/recommended" ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1,
    "semi": [ 1, "always" ],
    "quotes": [ "warn", "single" ],
    "guard-for-in": "off",
    "require-await": 1,
    "react/prop-types": "off",
    "react/display-name": "off",
    "class-methods-use-this": "off"
  }
}
