{
    "extends": "fullstack",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "root": true,
    "rules": {
        "class-methods-use-this": "off",
        "no-warning-comments": "off",
        "id-length": "off",
        "react/jsx-pascal-case": "off",
        "semi": [ "warn", "always" ],
        "react/prop-types": "off",
        "react/display-name": "off"
    }
}
