.plaxWrap {
    width: 100%;
    height: 50%;
    margin: 0 10px;
    background-color: #F4F4F4;
}

.bgLayer {
    width: 100%;
    height: 100%;
}

.cWrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.cContent {
    // width: 15rem;
    // max-height: 290px;
}
