@keyframes hueShift {
    0% {filter: hue-rotate(0deg)}
    50% {filter: hue-rotate(-45deg)}
    100% {filter: hue-rotate(0deg)}
}

.greetingTextWrap {
   position: fixed;
   left: 50%;
   will-change: transform, top, filter;
   transform: translate(-50%, -50%);
   cursor: default;
}

.hueShift {
    animation: hueShift 13s infinite linear;
}

.title {
    color: #6E4EFF;
    overflow: visible;
    will-change: letter-spacing;
    -webkit-font-smoothing: antialiased;
}

.title0 {
    font-weight: 100;
    font-size: 8rem;
    line-height: 6rem;
    padding-left: 0.33rem;
}

.title1 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 4rem;
    padding-left: 0.7rem;
}

.title2 {
    font-weight: 100;
    font-size: 13rem;
    line-height: 10rem;
    padding-left: 1.4rem;
}

.title3 {
    font-weight: 100;
    font-size: 8rem;
    font-style: italic;
    line-height: 7rem;
    padding-right: 1rem;
}

.title4 {
    font-weight: 900;
    font-size: 2rem;
    line-height: 2rem;
    padding-right: 0.05rem;
}

.title5 {
    font-weight: 100;
    font-size: 5rem;
    line-height: 4rem;
    padding-right: 0.15rem;
}

.title6 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
}

.title7 {
    font-weight: 100;
    font-size: 3rem;
    line-height: 3rem;
    padding-left: 0.3rem;
}

.footWrap {
    box-sizing: border-box;
    margin: auto auto -90px;
    background: transparent;
    will-change: filter;
    :first-child {
        margin-bottom: 50px;
    }
}

// .guideOne {
//     position: absolute;
//     z-index: 99999999;
//     top: 0;
//     left: calc(50% - 205px);
//     height: 100%;
//     width: 1px;
//     background: #FC8; // #FFF;
// }
// .guideTwo {
//     position: absolute;
//     z-index: 99999999;
//     top: 0;
//     right: calc(50% - 205px);
//     height: 100%;
//     width: 1px;
//     background: #FC8; // #FFF;
// }
