
.cContent {
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    padding: 9px 15px 0;
    // letter-spacing: initial;
    line-height: 1.1rem;
    overflow: hidden;
    .inlineLink {
        cursor: pointer;
        text-decoration: none;
        font-weight: 600;
        font-family: inherit;
        color: inherit;
        &:visited {
            color: #2E0EBF;
        }
    }
}
