
.skillsContent {
    font-family: inherit;
    height: 0px;
    pointer-events: none;
    opacity: 0;
    transition: opacity .0s ease;
    &.show {
        pointer-events: all;
        height: initial;
        padding: 15px 0 38px;
        transition: opacity .618s ease-out;
        opacity: 1;
        .subTitle {
            font-family: inherit;
            font-size: 17px;
            font-weight: bold;
            line-height: 23px;
            min-height: 38px;
            padding: 12px 15px 0 0;
        }
    }
    .skillWrap {
        font-family: 'Lekton', sans-serif;
        font-size: 0.95rem;
        line-height: 1.4rem;
        letter-spacing: 0.38px;
        color: #444;
        padding: 0 1px;
        width: 100%;
        min-height: 38px;
        span {
            font-family: inherit;
            letter-spacing: 0.38px;
        }
        :first-child:before {
            content: "";
        }
        :before {
            content: ", ";
        }
    }
}
